.chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        test
      .main-header__left-box__member-list
        Member : 
        .main-header__left-box__member-list__member
          1111
    .main-header__edit-btn
      Edit
  .message-date
    .message-date__log
      .user
        1111
      .date
        2020/02/22(sat) 21:23
    .message-date__comment
      おはよう！
  .message-form
    %form.new-comment
      .comment-box
        %input.comment-box__text{type: "text", placeholder: "type a message" }
        %label.comment-box__pic
          =icon('fas', 'image')
          %input{type: "file", class: "abc"}
      %input.send-btn{type: "submit"}
        

