.chat
  .chat__group
    .group-name
      .group-name__left
        test
        .member__list
          Member :
        .member__name
          oka
      .group-name__right
        Edit
  .chat__comment
  .chat__message