.chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        test
      .main-header__left-box__member-list
        Member
        .main-header__left-box__member-list__member
          1111
    .main-header__edit-btn
      Edit
      
     
       
      
  .chat__comment
  .chat__message