* {
  box-sizing: border-box;
}

.wrapper {
display: flex;
height: 100vh;
}
 .side-bar {
  &__top {
    background-color: #253141;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    .top-items {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name{
        font-size: 16px;
        color: #ffffff;
        text-align: center;
      }
    } 
  }
  &__bottom {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding:20px ;
    .group {
      margin-bottom: 40px;    
      &__items {
        color: white;
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      &__text {
        color: white;
        font-size: 11px;
        font-weight: bold;
        

    }
   }
  }
}

 .chat{
  width: calc(100vw - 300px);
  &__group {
      height: 100px;
      background-color:#ffffff;
      border-bottom: solid 1px #eeeeee;
      padding:0px 40px;
      &--left {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      
      
      
    }
    
    &__comment {
      background-color: blue;
      height: calc(100vh - 190px);
    
    &__message {
      background-color: yellow;
      height: 90px;
     }
   }
 }
 a {
 color: white;
 list-style: none;
 text-decoration: none;
 margin-right: 5px;
 }