* {
  box-sizing: border-box;
}

.chat-main__massage-list {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color:#ffffff ;

}
.side-bar__group-list {
  width: 300px;
  height: 100vh;
  background-color: #253151;
}

.wrapper {
  display: flex;
}